.mainTitle{
    color: #FFF;
    font-size: 96px;
    padding: 80px 40px 0 40px;
    width: 1360px;
    font-weight: 700;
}
.mainBtn{
    margin: 40px 0 210px 40px;
    padding: 16px 56px;
    background: #393;
    border: none;
    border-radius: 6px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.categoriesDiv{
    display: flex;
    
    padding: 80px 40px 40px 40px;
}
.categoriesTitle{
    color: #282828;
    font-size: 64px;
    font-weight: 700;
}
.categoriesBar{
    background:  #DDD;
    width: 100%;
height: 1px;
margin-left: 32px;
margin-top: 40px;
}
.categoriesBtn{
    height: 36px;
    padding: 8px 16px;
    border-radius:  6px;
border: 1px solid  #DDD;
color: #8B8B8B;
font-size: 16px;
cursor: pointer;
margin-top: 20px;
white-space: nowrap;
}
.categoriesImg{
    width: 316px;
    height: 350px;
    background-repeat: no-repeat;
    border-radius: 12px 12px 0 0;
}
.swipperDiv{
   display: flex;
    text-align: center;
    padding-top: 40px;
    cursor: pointer;
    justify-content: space-between;
   margin: 0 60px 0 40px;
}
.swipperTitle{
    color: #282828;
   padding: 15px;
   font-size: 20px;
   text-align: center;
   font-weight: 600;
}
.categoryCard{
    display: block;
    text-align: center;
    align-items: center;
    width: 316px;
    border-radius: 12px;
    border: 1px solid #DDD;
    transition: 0.5s;
}
.categoryCard:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.33);
    transition: 0.5s;
}

