
.categoriesDiv{
    padding: 40px 40px 80px 40px;
    
}
.categoriesImg{
    width: 316px;
}
.categoriesDivImg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding-left: 20%;
}

.categoriesBtn{
    padding: 8px 16px;
    border-radius:  6px;
border: 1px solid #DDD;
color: #282828;
cursor: pointer;
margin-left: 16px;
}