.discDiv {
    background: linear-gradient(261deg, #0B710B 32.63%, #393 98.96%);
    margin: 80px 40px 0 40px;
    border-radius: 12px;
    text-align: center;
}

.title {
    padding-top: 32px;
    color: #fff;
    font-size: 64px;
    font-weight: 700;
}

.form {
    position: relative;
    text-align: start;
    padding-top: 32px;
    width: 100%;
    margin-left: 20%;

}

.form input {
    width: 80%;
    padding: 16px 32px;
    border-radius: 6px;
    border: 1px solid #FFF;
    background: linear-gradient(261deg, #0B710B 32.63%, #393 98.96%);
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px;
    outline: none;
}

.form input::placeholder {
    color: #fff;
    opacity: 1;
}

.imgForm {
    display: flex;
    justify-content: space-between;
    padding: 24px 32px 0 32px;

}

.discountBtn {
    margin-top: 28px;
    width: 80%;
    padding: 16px 32px;
    align-items: center;
    border-radius: 6px;
    background: #FFF;
    color: #282828;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.discountBtn:hover{
background: #282828;
color: #FFF;
transition: 0.5s;
}
.submittedDiscountBtn{
    margin-top: 28px;
    width: 80%;
    padding: 16px 32px;
    align-items: center;
    border-radius: 6px;
    background: #FFF;
    color: #393;
    border: none;
    font-size: 20px;
    font-weight: 600;
}
.error { 
    color: red;
    font-size: 14px;
    font-weight: 600;
}
.errorName{
    position: absolute;
    top: 89px;
}
.errorPhone{
    position: absolute;
    top: 170px;
}
.errorEmail{
    position: absolute;
    top: 250px;
}
.modal {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 600px; 
    background: #fff; 
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center; 
    z-index: 1000; 
}

.modal p {
    margin-bottom: 20px; 
    color: #282828; 
    font-size: 20px;
    line-height: 1.4; 
    font-weight: 600;
}

.modal button {
    padding: 10px 20px;
    border-radius: 6px;
    background: #0B710B;
    color: #fff; 
    border: none;
    font-size: 16px;
    cursor: pointer; 
}


@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -45%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
