.discDiv {
    background: linear-gradient(261deg, #0B710B 32.63%, #393 98.96%);
    margin: 80px 40px 0 40px;
    border-radius: 12px;
    text-align: center;
}

.title {
    padding-top: 32px;
    color: #fff;
    font-size: 64px;
    font-weight: 700;
}

.form {
    position: relative;
    text-align: start;
    padding-top: 32px;
    width: 100%;
    margin-left: 20%;

}

.form input {
    width: 80%;
    padding: 16px 32px;
    border-radius: 6px;
    border: 1px solid #FFF;
    background: linear-gradient(261deg, #0B710B 32.63%, #393 98.96%);
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px;
    outline: none;
}

.form input::placeholder {
    color: #fff;
    opacity: 1;
}

.imgForm {
    display: flex;
    justify-content: space-between;
    padding: 24px 32px 0 32px;

}

.discountBtn {
    margin-top: 28px;
    width: 80%;
    padding: 16px 32px;
    align-items: center;
    border-radius: 6px;
    background: #FFF;
    color: #282828;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.discountBtn:hover{
background: #282828;
color: #FFF;
transition: 0.5s;
}
.submittedDiscountBtn{
    margin-top: 28px;
    width: 80%;
    padding: 16px 32px;
    align-items: center;
    border-radius: 6px;
    background: #FFF;
    color: #393;
    border: none;
    font-size: 20px;
    font-weight: 600;
}
.error { 
    color: red;
    font-size: 14px;
    font-weight: 600;
}
.errorName{
    position: absolute;
    top: 89px;
}
.errorPhone{
    position: absolute;
    top: 170px;
}
.errorEmail{
    position: absolute;
    top: 250px;
}
.modal {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 600px; 
    background: #fff; 
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center; 
    z-index: 1000; 
}

.modal p {
    margin-bottom: 20px; 
    color: #282828; 
    font-size: 20px;
    line-height: 1.4; 
    font-weight: 600;
}

.modal button {
    padding: 10px 20px;
    border-radius: 6px;
    background: #0B710B;
    color: #fff; 
    border: none;
    font-size: 16px;
    cursor: pointer; 
}


@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -45%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
@media(max-width: 1000px){
    .discDiv{
        position: relative;
        margin: 60px 20px;
        width: 960px;
        height: 434px;
    }
    .formImage{
        position: absolute;
        bottom: -33px;
        left: -10px;
        width: 500px;
        height: 308px;
        z-index: 2;
    }
    .form{
    position: relative;
    top: -30px;
    width: 100%;
    margin-left: 52%;
        margin-bottom: 30px;
    }
    .form input{
        
        width: 450px;
        height: 58px;
        margin-bottom: 16px;
    }
    .discountBtn{
        margin-top: 10px;
        width: 450px;
        height: 58px;
    }
    .errorName{
        position: absolute;
        top: 89px;
        
    }
    .errorPhone{
        position: absolute;
        top: 164px;
       
    }
    .errorEmail{
        position: absolute;
        top: 240px;
       
    }
    .submittedDiscountBtn{
        position: absolute;
        width: 450px;
        top: 235px;
    }
    .modal {
        position: absolute; 
        top: 50%;
        left: 50%;
        
    }
    
}
@media(max-width: 768px){
    .discDiv{
        width: 730px;
    }
    .title{
        font-size: 56px;
    }
    .formImage{
        width: 340px;
        bottom: -72px;
        left: -8px;
    }
    .form input{
        width: 294px;
    }
    .discountBtn{
        width: 294px;
    }
    .submittedDiscountBtn{
        width: 294px;
    }
}
@media(max-width: 480px){
    .discDiv{
        width: 440px;
        height: 590px;
        margin: 56px 20px;
       
    }
    .title{
        padding-top: 24px;
        font-size: 48px;
    }
    .form input{
        position: relative;
        width: 400px;
        margin-bottom: 8px;
        height: 47px;
        font-size: 18px;
    }
    .form{
        position: absolute;
        top: 120px;
        right: -20px;
    }
    .discountBtn{
        width: 400px;
    }
    .submittedDiscountBtn{
        width: 400px;
        margin-top: -10px;
    }
    .errorName{
        font-size: 10px;
        top: 75px;
        position: absolute;
    }
    .errorPhone{
        position: absolute;
        font-size: 10px;
        top: 134px;
       z-index: 20;
    }
    .errorEmail{
        position: absolute;
        top: 190px;
        font-size: 10px;
    }
    .formImage{
        width: 400px;
        height: 200px;
        left: 22px;
        top: 393px;
    }
}
@media(max-width: 360px){
    .discDiv{
        width: 320px;
    }
    .title{
        font-size: 40px;
    }
    .form input{
        position: relative;
        width: 284px;
}
.discountBtn{
    width: 284px;
}
.submittedDiscountBtn{
    width: 284px;
}
.modal{
    width: 300px;
}
.formImage{
    width: 310px;
    height: 232px;
    left: 8px;
        top: 398px;
}
}
